@model JalgrattaEksamMVC.Models.Jalgrattaeksam

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Jalgrattaeksam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Eesnimi" class="control-label"></label>
                <input asp-for="Eesnimi" class="form-control" />
                <span asp-validation-for="Eesnimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perekonnanimi" class="control-label"></label>
                <input asp-for="Perekonnanimi" class="form-control" />
                <span asp-validation-for="Perekonnanimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teooriatulemus" class="control-label"></label>
                <input asp-for="Teooriatulemus" class="form-control" />
                <span asp-validation-for="Teooriatulemus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slaalom" class="control-label"></label>
                <input asp-for="Slaalom" class="form-control" />
                <span asp-validation-for="Slaalom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ringtee" class="control-label"></label>
                <input asp-for="Ringtee" class="form-control" />
                <span asp-validation-for="Ringtee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tanav" class="control-label"></label>
                <input asp-for="Tanav" class="form-control" />
                <span asp-validation-for="Tanav" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luba" class="control-label"></label>
                <input asp-for="Luba" class="form-control" />
                <span asp-validation-for="Luba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
